localhost {  # Use your actual domain if deploying to production

    root * C:\Users\bbartling\OneDrive - Slipstream\Desktop\WasmFastApiExperiments\static\pkg
    file_server

    reverse_proxy /api/* localhost:8000  # Assuming FastAPI runs on port 8000

    log {
        output stdout
    }
}
